
.clock-back {
  background-color: black;
}

.clock .item, .clock-separator {
  color: white;
  text-align: center;
  font-size: 70px;
  line-height: 80px;
}

.clock-separator-1 {
	text-align: right;
}

.clock-separator-2 {
	text-align: left;
}