
.datetimepicker-back {
  background-color: #FFFCFC;
}

.datetimepicker-overlay-top, .datetimepicker-overlay-bottom {
  background-color: rgba(255, 255, 255, 0.6);
  pointer-events: none;
}

.datetimepicker-overlay-top {
  border-bottom: 1px solid #777777;
}

.datetimepicker-overlay-bottom {
  border-top: 1px solid #777777;
}

.datetimepicker .item {
  text-align: center;
  font-size: 32px;
  font-weight: 100;
  line-height: 50px;
}