
.datetime.background {
  background-color: #FFFCFC;
}

.ff-datepicker.item.datetime {
  font-size: 32px;
  font-weight: 100;
}
.ff-datepicker.top.datetime {
  background-color: rgba(255, 255, 255, 0.6);
  border-bottom: 1px solid #777777;
}

.ff-datepicker.bottom.datetime {
  background-color: rgba(255, 255, 255, 0.6);
  border-top: 1px solid #777777;
}
