
.datetimepicker-back {
  background-color: #FFFCFC;
}

.datetimepicker-front {
  background-color: rgba(255, 255, 255, 0.6);
  pointer-events: none;
}

.datetimepicker-front-top {
  border-bottom: 1px solid #777777;
}

.datetimepicker-front-bottom {
  border-top: 1px solid #777777;
}

.datetimepicker .item > div {
  text-align: center;
  font-size: 40px;
  font-weight: 100;
  /* center text vertically */
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}