
.time.background {
  background-color: #FFFCFC;
}

.ff-datepicker.item.time {
  font-size: 60px;
  font-weight: normal;
}
.ff-datepicker.top.time {
  background-color: rgba(255, 255, 255, 0.6);
  border-bottom: 1px solid #777777;
}

.ff-datepicker.bottom.time {
  background-color: rgba(255, 255, 255, 0.6);
  border-top: 1px solid #777777;
}
