
.timepicker-back {
  background-color: #FFFCFC;
}

.timepicker-front {
  border-top: 1px solid #777777;
  border-bottom: 1px solid #777777;
  pointer-events: none;
}

.timepicker .item > div {
  color: black;
  text-align: center;
  font-size: 60px;
  font-weight: normal;
  /* center text vertically */
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
